.main{
	display: flex;
	justify-content: flex-start;
	flex-flow: row;
	margin-left: 200px;

	max-width: 1300px;
	gap: 24px;
	margin-top: 180px;
}

.left_panel{
	width: 320px;
	text-align: left;
	margin-right: 60px;
}
	.nav_panel{
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.nav_link{
			composes: pt-4 pb-4 text text_type_main-medium from global;
			text-decoration: none;
			display: block;
			width: 320px;
			color: rgba(133, 133, 173, 1);
			transition: all 0.3s ease-in;
		}
		.nav_link:hover{
			color: var(--text-primary-color);
			opacity: 0.9;
		}
		.nav_link_active{
			color: rgba(242, 242, 243, 1);
		}
		.logout_but{
			composes: pt-4 pb-4 text text_type_main-medium from global;
			text-decoration: none;
			display: block;
			width: 320px;
			color: rgba(133, 133, 173, 1);
			width: fit-content;
		}
